* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;

  background:
    linear-gradient(
      rgba(5,3,10,.65),
      rgba(5,3,10,.9)
    ),
    url("/casino-background.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  min-height: 100vh;
}


main {
  min-height: 100vh;
  padding: 30px 20px;
  text-align: center;
}


/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1100px;
  margin: 0 auto 50px;
}


.logo a {
  color: #ffd700;
  text-decoration: none;

  font-size: 34px;
  font-weight: 900;

  text-shadow:
    0 0 15px #ffd700;
}


.menu {
  display: flex;
  gap: 15px;
}


.menu a {

  color: white;
  text-decoration: none;

  background:
    linear-gradient(
      145deg,
      #24103a,
      #12081d
    );

  border: 1px solid #ffd700;

  padding: 10px 20px;

  border-radius: 30px;

  font-weight: bold;
}


.menu a:hover {

  color:#111;
  background:#ffd700;

}


/* HERO */


.hero {

  max-width: 850px;

  margin: auto;

}


h1 {

  font-size: 50px;

  color:#ffd700;

  text-shadow:
    0 0 15px #ffd700,
    0 0 35px #ff8c00;

}


h2 {

  color:#ffd700;

}


p {

  font-size:18px;

  color:#ddd;

  line-height:1.6;

}


/* BUTTON */


button {

  margin-top:20px;

  padding:12px 30px;

  border:none;

  border-radius:40px;

  background:
    linear-gradient(
      45deg,
      #ffd700,
      #ff8c00
    );

  color:#111;

  font-size:16px;

  font-weight:bold;

  cursor:pointer;

}


/* CARDS */


.cards {

  display:flex;

  justify-content:center;

  align-items:stretch;

  gap:25px;

  flex-wrap:wrap;

  margin-top:50px;

}


.card {

  width:300px;

  min-height:260px;

  padding:25px;


  background:

    linear-gradient(
      145deg,
      #24103a,
      #12081d
    );


  border-radius:20px;

  border:1px solid #ffd700;


  box-shadow:

    0 0 25px rgba(255,215,0,.25);

}


.card:hover {

  transform:translateY(-5px);

}


/* LOGO */


.casino-logo {

  width:70px;

  height:70px;

  margin:15px auto;


  border-radius:50%;


  display:flex;

  align-items:center;

  justify-content:center;


  font-size:35px;


  background:

    linear-gradient(
      145deg,
      #ffd700,
      #8a5a00
    );

}


/* FOOTER */


footer {

  margin-top:70px;

  padding:30px 20px;


  background:

    rgba(0,0,0,.5);


  border-top:1px solid #ffd700;


  text-align:center;

}


footer small {

  display:block;

  margin:10px auto;

  max-width:800px;

  color:#999;

  font-size:12px;

}


/* MOBILE */


@media(max-width:768px){

nav {

 flex-direction:column;

 gap:20px;

}


.menu {

 flex-wrap:wrap;

 justify-content:center;

}


h1 {

 font-size:36px;

}


.card {

 width:90%;

}

}
